@{
    ViewBag.Title = "Home Page";
}

<div class="row align-items-center" id="msg"></div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script type="text/javascript" src="~/Scripts/SignalR.js"></script>
}
